In [4]:
# Data
import pandas as pd

In [5]:
df = pd.read_csv('fruit.csv')

In [6]:
df

    color  diameter target
0   green         3  Apple
1  yellow         3  Apple
2     red         1  Grape
3     red         1  Grape
4  yellow         2  Lemon

In [ ]:
# Take break

In [7]:
df.columns

Index(['color', 'diameter', 'target'], dtype='object')

In [43]:
def unique(df, col):
#     print(list(set(df[col])))
    return list(set(df[col]))
        
#     return set(rows[col] for row in rows)

In [44]:
unique(df, 'color')

['green', 'yellow', 'red']

In [45]:
unique(df, 'diameter')

[1, 2, 3]

In [46]:
unique(df, 'target')

['Grape', 'Lemon', 'Apple']

In [154]:
def sample_count(df):
    classes = unique(df, 'target')
    dic = {}
    
    for cl in classes:
        dic[cl] = 0
    for da in df['target']:
        dic[da] += 1

    print(dic)
    return dic

In [155]:
sample_count(df)

{'Grape': 2, 'Lemon': 1, 'Apple': 2}

{'Grape': 2, 'Lemon': 1, 'Apple': 2}

In [156]:
def is_numeric(value):
    """Test if a value is numeric."""
    return isinstance(value, int) or isinstance(value, float)

In [157]:
# Demo:
is_numeric(7)
# is_numeric("Red")
#######

True

In [158]:
class AskQuestion:
    def __init__(self, column, value):
        self.column = column
        self.value = value
    def match(self, sample):
        val = sample[self.column]
        if is_numeric(val):
            return val >= self.value
        else:
            return val == self.value
    def __repr__(self):
        condition = "=="
        if is_numeric(self.value):
            condition = ">="
        return "Is %s %s %s?" % (
            self.column, condition, str(self.value))

In [159]:
AskQuestion('diameter', 1)

Is diameter >= 1?

In [160]:
AskQuestion('color', 'red')

Is color == red?

In [161]:
sample = df.sample(1)

In [162]:
sample

  color  diameter target
2   red         1  Grape

In [163]:
question = AskQuestion('color', 'yellow')

In [164]:
question.match(sample)

2    False
Name: color, dtype: bool

In [165]:
def partition(df, question):
    true_rows, false_rows = [], []
    for index, row in df.iterrows():
#         print(row)
#         print(row.iloc[1])
        if question.match(row):
            true_rows.append(row)
        else:
            false_rows.append(row)
    return true_rows, false_rows

In [166]:
true_rows, false_rows = partition(df, AskQuestion('color', 'red'))

In [167]:
true_rows

[color         red
 diameter        1
 target      Grape
 Name: 2, dtype: object,
 color         red
 diameter        1
 target      Grape
 Name: 3, dtype: object]

In [168]:
len(true_rows)

2

In [169]:
false_rows

[color       green
 diameter        3
 target      Apple
 Name: 0, dtype: object,
 color       yellow
 diameter         3
 target       Apple
 Name: 1, dtype: object,
 color       yellow
 diameter         2
 target       Lemon
 Name: 4, dtype: object]

In [216]:
def gini(rows):
    counts = sample_count(rows)
    impurity = 1

    for key, value in counts.items():
        prob = counts[key]/ float(len(counts))
        impurity -= prob**2
    return impurity
#         print(counts[key]/ float(len(counts)))
#         prob = key[value] / float(len(counts))
#         impurity -= prob**2
#     for key, value in counts:
#         print(lbl)
    
#     for lbl in counts:
#         prob_of_lbl = counts[lbl] / float(len(rows))
#         impurity -= prob_of_lbl**2
#     return impurity

In [217]:
# no_mixing = [['Apple'],
#               ['Apple'],['Apple']]

In [218]:
gini(df)

{'Grape': 2, 'Lemon': 1, 'Apple': 2}

5.551115123125783e-17

In [229]:
sample = df.sample(4)
print(sample)
# gini(df)

    color  diameter target
2     red         1  Grape
3     red         1  Grape
4  yellow         2  Lemon
0   green         3  Apple

In [230]:
gini(sample)

{'Grape': 2, 'Lemon': 1, 'Apple': 1}

0.33333333333333337

In [231]:
def info_gain(left, right, current_uncertainty):
    p = float(len(left)) / (len(left) + len(right))
    return current_uncertainty - p * gini(left) - (1 - p) * gini(right)

In [235]:
current_uncertainty = gini(sample)
round(current_uncertainty,4)

{'Grape': 2, 'Lemon': 1, 'Apple': 1}

0.3333

In [237]:
true_rows, false_rows = partition(df, AskQuestion('color', 'green'))